<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReMedi | Wellness Simplified</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" href="/static/images/titleicon.png">
</head>
<body>
  <!-- Navbar -->
  <header class="navbar">
    <div class="container">
      <h1 class="logo"><a href="/">Re<span>Medi</span></a></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          {% if 'user' in session %}
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a id="logout-btn" class="popupBtn" href="#">Log out</a></li>
          
          <li><a href="/profile"><div class="hello-right">
        <div class="hello-profile" style="background-image: url('{{user.photo_url}}'); background-size: cover; background-position: right;"></div>
    </div></a></li>
          {% else %}
          <li><a href="/getstarted" class="highlight">Get Started</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  <div id="logout-popup" class="popup">
    <div class="popup-content">
      <p>Log out of your account?</p>
      <button id="confirmLogout">Yes, Log Out</button>
      <button id="closeBtn">Close</button>
    </div>
  </div>
  </header>
    {% block content %}
    {% endblock %}
  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  </body>
</html>