<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReMedi | Wellness Simplified</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" href="/static/images/titleicon.png">

</head>
<body>
  <!-- Navbar -->
  <header class="navbar">
    <div class="container">
      <h1 class="logo"><a href="/">Re<span>Medi</span></a></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          {% if 'user' in session %}
            <li><a href="/dashboard">Dashboard</a></li>

            
            <li><a id="logout-btn" class="popupBtn" href="#">Log out</a></li>
            <li>
              <a href="/profile">
                <div class="hello-right">
                  <div class="hello-profile" style="background-image: url('{{user.photo_url}}'); background-size: cover; background-position: right;"></div>
                </div>
              </a>
            </li>
            <!-- Bell Icon Notification Button -->
            {% if not user.fcm_enabled %}
              <li>
                <button id="enableNotif" class="notification-bell" title="Enable notifications">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 22a2 2 0 002-2h-4a2 2 0 002 2zm6-6V11c0-3.07-1.63-5.64-4.5-6.32V4a1.5 1.5 0 10-3 0v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/>
                  </svg>
                </button>

              </li>
            {% endif %}
          {% else %}
          <li><a href="/getstarted" class="highlight">Get Started</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    
  <div id="logout-popup" class="popup">
    <div class="popup-content">
      <p>Log out of your account?</p>
      <button id="confirmLogout">Yes, Log Out</button>
      <button id="closeBtn">Close</button>
    </div>
  </div>
  </header>
  
  {% block content %}
  {% endblock %}
  <div id="toast" class="toast hidden"></div>

  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  <script src="/firebase-config.js"></script>
  <script type="module" src="{{ url_for('static', filename='js/firebase-messaging.js') }}"></script>
  
</body>
</html>