{% extends "base.html" %}
{% block content %}
<title>Dashboard</title>
<link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>

<div class="container">

    <!-- Greeting -->
    <div class="greeting">   
</div>
    <div class="hello-box">
    <div class="hello-left">
        <div class="hello-profile" style="background-image: url('{{user.photo_url}}'); background-size: cover;"></div>
    </div>

    <div class="hello-right">
        <p class="hello-text">Hello {{user.username}} !</p>
    
    </div>
</div>


    <!-- Features Grid -->
    <div class="grid">

        <a href="/addmedicine" class="card">
            <img src="/static/images/createschedule.jpg" alt="">
            <p>Create Schedule</p>
        </a>

        <a href="/schedules" class="card">
            <img src="/static/images/viewschedule.jpg" alt="">
            <p>View Schedule</p>
        </a>

        <a href="/upload-prescription" class="card">
            <img src="/static/images/uploadprescription.jpg" alt="">
            <p>Upload Prescription</p>
        </a>

        <a href="/view-prescription" class="card">
            <img src="/static/images/viewprescription.jpg" alt="">
            <p>View Prescription</p>
        </a>

        <a href="{{url_for('hydration')}}" class="card">
            <img src="" alt="">
            <p>Hydration</p>
        </a>

    </div>

</div>
{% endblock %}
