<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="remedidashh2.css">
</head>
<body>

<div class="container">

    <!-- Greeting -->
    <div class="greeting">   
</div>
    <div class="hello-box">
    <div class="hello-left">
        <div class="hello-profile"></div>
    </div>

    <div class="hello-right">
        <p class="hello-text">Hello { username or "User" }</p>
    
    </div>
</div>


    <!-- Features Grid -->
    <div class="grid">

        <a href="/create-schedule" class="card">
            <img src="create schedule.jpg " alt="">
            <p>Create Schedule</p>
        </a>

        <a href="/view-schedule" class="card">
            <img src="view schedule.jpg " alt="">
            <p>View Schedule</p>
        </a>

        <a href="/upload-prescription" class="card">
            <img src="upload prescription.jpg " alt="">
            <p>Upload Prescription</p>
        </a>

        <a href="/view-prescription" class="card">
            <img src=" view prescription.jpg " alt="">
            <p>View Prescription</p>
        </a>
        <a href="/hydration vault" class="card">
            <img src="water schedule.244Z.png" alt=" ">
            <p>Hydration Vault</p></a>
         </div>

</div>

</body>
</html>
